.marketplace-lander .marketplace-lander-content-title {
	font-size:3.25em;
	
}





.inline-big-button{
       border-radius: 2px;
}

.marketplace-lander .marketplace-lander-content-description{
	color:#ffffff;
}

.button{
       border-radius: 2px;
}


button, .button{
border-radius:2px;
}

.home-toolbar-button-group-button:first-child{
border-bottom-left-radius:2px;
border-top-left-radius:2px;	
}

.home-toolbar-button-group-button:last-child{
border-bottom-right-radius:2px;
border-top-right-radius:2px;
}

.toggle.with-borders{
border-radius:2px;
}
