@font-face {
   font-family: arial;
   src: url('https://github.com/fofoMedrano23/css-tattmapp/blob/master/MoonBold.otf');
}
.marketplace-lander .marketplace-lander-content-title {
	font-size:3.25em;
	font-family: arial;
}





.inline-big-button{
       border-radius: 2px;
}

.marketplace-lander .marketplace-lander-content-description{
	color:#ffffff;
}

.button{
       border-radius: 2px;
}


button, .button{
border-radius:2px;
}

.home-toolbar-button-group-button:first-child{
border-bottom-left-radius:2px;
border-top-left-radius:2px;	
}

.home-toolbar-button-group-button:last-child{
border-bottom-right-radius:2px;
border-top-right-radius:2px;
}

.toggle.with-borders{
border-radius:2px;
}

/* start of desktop styles */

@media screen and (max-width: 991px) {
     /* start of large tablet styles */

}

@media screen and (max-width: 767px) {
     /* start of medium tablet styles */

}

@media screen and (max-width: 479px) {
     /* start of phone styles */
	.marketplace-lander .marketplace-lander-content-title{
	font-size: 1.25em;
	}
}
/*custom styles*/
.Topbar__topbar__7GUWt {
    background: #05668d;
}
.MenuPriority__priorityLink__moBbL {
    color: #fcfcfc;
}

.Menu__menuLabel__17fat {
    color: #fcfcfc;
}
.home-categories-link, .home-categories-main, .home-categories-sub {
    color: #05668d;
}
body {
    color: #05668d;
}
element.style {
  background-color: #ffffff;
}
