@font-face {
   font-family: arial;
   src: url('https://github.com/fofoMedrano23/css-tattmapp/blob/master/MoonBold.otf');
}
.marketplace-lander .marketplace-lander-content-title {
	font-size:3.25em;
	font-family: arial;
}





.inline-big-button{
       border-radius: 2px;
}

.marketplace-lander .marketplace-lander-content-description{
	color:#ffffff;
}

.button{
       border-radius: 2px;
}


button, .button{
border-radius:2px;
}

.home-toolbar-button-group-button:first-child{
border-bottom-left-radius:2px;
border-top-left-radius:2px;	
}

.home-toolbar-button-group-button:last-child{
border-bottom-right-radius:2px;
border-top-right-radius:2px;
}

.toggle.with-borders{
border-radius:2px;
}

/* start of desktop styles */

@media screen and (max-width: 991px) {
     /* start of large tablet styles */

}

@media screen and (max-width: 767px) {
     /* start of medium tablet styles */

}

@media screen and (max-width: 479px) {
     /* start of phone styles */
	.marketplace-lander .marketplace-lander-content-title{
	font-size: 1.25em;
	}
/*custom styles*/
	@media (min-width: 1201px)
app-bundle-c893616….css:1
.LoginLinks__link__1GboG {
    color: #ffffff!important;
}
.MenuPriority__priorityLink__moBbL {
    color: #ffffff;
}
.Menu__menuLabel__17fat {
    color: #fcfcfc;  
}

.Topbar__topbar__7GUWt {
    background: #05668d;
}
.Menu__menuLabel__17fat {
    color: #fcfcfc;
}
.SearchBar__form__27PQI{
color: #fcfcfc!important;
}
@media (min-width: 1201px)
app-bundle-c893616….css:1
.SearchBar__focusContainer__2uI0-:before {
    display: block;
    border-radius: 22px;
}
AddNewListingButton__desktop__17Luf AddNewListingButton_desktop{
background: #023143;
}
